section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  &.fonctionnement,
  &.restaurants {
    @include d-flex-column;
    @include center;
    & h1 {
      width: 100%;
      max-width: 1440px;
      padding-bottom: 1rem;
    }
    padding: 3rem 1rem;
    gap: 1rem;
  }

  &.restaurants {
    background-color: $gallery;
  }
  & > div,
  ul {
    @include d-flex-column;
    @include center;
    width: 100%;

    &.localisation {
      flex-direction: row;
      background-color: $gallery;
      height: 3rem;
      gap: 0.8rem;
    }
    &.explorer {
      background-color: $earthborn-bugle;
      height: 20rem;
      padding: 2rem;
      text-align: center;
      gap: 2rem;
    }
    &.instruction-container,
    &.restaurants-container {
      align-items: center;
      gap: 1rem;

      @include devices(tablet) {
        flex-direction: row;
      }
      @include devices(desktop) {
        flex-direction: row;
        max-width: 1440px;
      }
    }
  }
  & .instruction-container {
    gap: 2rem;
    @include devices(tablet) {
      padding: 2rem;
    }
    @include devices(desktop) {
      padding: 2rem;
    }
  }
  & .restaurants-container {
    @include devices(tablet) {
      flex-direction: column;
      flex-wrap: wrap;

      & .card {
        width: 48%;
      }
    }
    @include devices(desktop) {
      flex-direction: column;
      flex-wrap: wrap;

      & .card {
        width: 48%;
      }
    }
  }
}
