* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100svh;
  width: 100svw;
  scroll-behavior: smooth;
}

header {
  display: flex;
  position: sticky;
  z-index: 3;
  top: 0;
  height: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .header__logo {
  max-height: 50%;
}

body {
  position: relative;
}
body .main-container {
  width: 100%;
}
@media (min-width: 1000px) {
  body .main-container {
    justify-content: center;
    align-items: center;
  }
}

main {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  gap: 2rem;
  background-color: #353535;
  color: white;
}
footer .footer__lien {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer a {
  color: inherit;
}
footer .logoreverse {
  padding-bottom: 1rem;
  filter: invert(100%);
  width: 8rem;
}
@media screen and (min-width: 700px) and (max-width: 999.9px) {
  footer {
    display: flex;
    max-height: 10%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  footer .footer__lien {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
  footer .logoreverse {
    padding: 0;
  }
}
@media (min-width: 1000px) {
  footer {
    display: flex;
    max-height: 10%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  footer .footer__lien {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
  }
  footer .logoreverse {
    padding: 0;
  }
}

h1 {
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
h1.menu__categorie {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  padding: 1rem;
}

@media screen and (min-width: 700px) and (max-width: 999.9px) {
  .explorer h1 {
    font-size: 28px;
  }
}
@media (min-width: 1000px) {
  .explorer h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 1rem;
}
h2.card__titre {
  position: absolute;
  bottom: 1.2rem;
}

h3 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 500;
  font-size: 1.6rem;
}

p {
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
p.localisation__texte {
  font-weight: 500;
  font-size: 16px;
}
p.card__texte {
  font-weight: 300;
}
p.menu__card__description {
  font-size: 15px;
}
p.menu__card__prix {
  font-weight: 500;
  font-size: 15px;
}

.btn {
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}
a i {
  font-size: 11px;
  padding-right: 0.8rem;
}

.etape {
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}

.nouveau {
  font-family: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #008766;
}

.instructions__carte {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 90%;
  height: 5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #f7f7f7;
  padding-left: 3rem;
  gap: 1rem;
}
@media screen and (min-width: 700px) and (max-width: 999.9px) {
  .instructions__carte {
    width: 33%;
    padding-left: 2rem;
  }
}
@media (min-width: 1000px) {
  .instructions__carte {
    width: 33%;
  }
}
.instructions__carte .etape {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  z-index: 2;
  background-color: #9356dc;
  color: white;
}

.coeur {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
.coeur--menu {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}

.nouveau {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 2px;
  z-index: 2;
  width: 5rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

i {
  font-size: 20px;
}
i.gris {
  color: grey;
}
i.violet {
  color: #9356dc;
}
i.fa-map-marker-alt {
  font-size: 16px;
}
i.fa-arrow-left {
  color: black;
  font-size: large;
  position: absolute;
  left: 2rem;
  top: 1.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  transition: 0.5s ease;
}
.btn:hover {
  filter: brightness(1) opacity(0.7);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.btn__accueil {
  width: 15rem;
}
.btn__menu {
  width: 15rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 17rem;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 25px;
  overflow: hidden;
}
.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -25%;
  border-radius: 25px 25px 0 0;
}
.card__titre {
  position: absolute;
  bottom: 1.2rem;
  color: black;
}
.card__titre--menu {
  padding: 1rem 1rem 0.5rem 1rem;
}
.card__texte {
  position: absolute;
  bottom: 0;
  padding: 0 1rem 0.8rem 1rem;
}

input {
  position: absolute;
  left: -9999px;
}

label.coeur, label.coeur--menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}
label.coeur::before, label.coeur--menu::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  font-family: "font awesome 5 free";
  content: "\f004";
  font-size: 20px;
}
label.card--clic {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: inherit;
}
label.card--clic::after {
  height: 100%;
  width: 0px;
  justify-content: center;
  align-items: center;
  font-family: "font awesome 5 free";
  font-weight: bold;
  content: "\f058";
  font-size: 30px;
  border-radius: 0 20px 20px 0;
}

input:checked + ::before {
  background: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  transition: all 0.5s ease-out;
}

input:checked + ::after {
  display: flex;
  background-color: #99e2d0;
  color: white;
  position: relative;
  transition: width 0.5s ease-out;
  width: 25%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
}
section.fonctionnement, section.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  gap: 1rem;
}
section.fonctionnement h1, section.restaurants h1 {
  width: 100%;
  max-width: 1440px;
  padding-bottom: 1rem;
}
section.restaurants {
  background-color: #eaeaea;
}
section > div,
section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section > div.localisation,
section ul.localisation {
  flex-direction: row;
  background-color: #eaeaea;
  height: 3rem;
  gap: 0.8rem;
}
section > div.explorer,
section ul.explorer {
  background-color: #f7f7f7;
  height: 20rem;
  padding: 2rem;
  text-align: center;
  gap: 2rem;
}
section > div.instruction-container, section > div.restaurants-container,
section ul.instruction-container,
section ul.restaurants-container {
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 700px) and (max-width: 999.9px) {
  section > div.instruction-container, section > div.restaurants-container,
  section ul.instruction-container,
  section ul.restaurants-container {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  section > div.instruction-container, section > div.restaurants-container,
  section ul.instruction-container,
  section ul.restaurants-container {
    flex-direction: row;
    max-width: 1440px;
  }
}
section .instruction-container {
  gap: 2rem;
}
@media screen and (min-width: 700px) and (max-width: 999.9px) {
  section .instruction-container {
    padding: 2rem;
  }
}
@media (min-width: 1000px) {
  section .instruction-container {
    padding: 2rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 999.9px) {
  section .restaurants-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  section .restaurants-container .card {
    width: 48%;
  }
}
@media (min-width: 1000px) {
  section .restaurants-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  section .restaurants-container .card {
    width: 48%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu__entrees .menu__card {
  animation: slideInUp 1s forwards, fadeIn 1s forwards;
  animation-timing-function: ease-in-out;
}
.menu__entrees .menu__card:nth-of-type(1) {
  opacity: 0;
  animation-delay: 0s;
}
.menu__entrees .menu__card:nth-of-type(2) {
  opacity: 0;
  animation-delay: 1s;
}
.menu__entrees .menu__card:nth-of-type(3) {
  opacity: 0;
  animation-delay: 1.5s;
}
.menu__entrees .menu__card:nth-of-type(4) {
  opacity: 0;
  animation-delay: 2s;
}
.menu__plats .menu__card {
  animation: slideInUp 1s forwards, fadeIn 1s forwards;
  animation-timing-function: ease-in-out;
}
.menu__plats .menu__card:nth-of-type(1) {
  opacity: 0;
  animation-delay: 2s;
}
.menu__plats .menu__card:nth-of-type(2) {
  opacity: 0;
  animation-delay: 3s;
}
.menu__plats .menu__card:nth-of-type(3) {
  opacity: 0;
  animation-delay: 3.5s;
}
.menu__plats .menu__card:nth-of-type(4) {
  opacity: 0;
  animation-delay: 4s;
}
.menu__desserts .menu__card {
  animation: slideInUp 1s forwards, fadeIn 1s forwards;
  animation-timing-function: ease-in-out;
}
.menu__desserts .menu__card:nth-of-type(1) {
  opacity: 0;
  animation-delay: 4s;
}
.menu__desserts .menu__card:nth-of-type(2) {
  opacity: 0;
  animation-delay: 5s;
}
.menu__desserts .menu__card:nth-of-type(3) {
  opacity: 0;
  animation-delay: 5.5s;
}
.menu__desserts .menu__card:nth-of-type(4) {
  opacity: 0;
  animation-delay: 6s;
}
.menu__image {
  height: 15rem;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.menu__texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 25px 25px 0 0;
  padding-bottom: 2rem;
  margin-top: -2rem;
  gap: 2rem;
}
.menu__titre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 1.5rem 0 0 1rem;
}
.menu__entrees, .menu__plats, .menu__desserts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}
.menu__card {
  display: flex;
  height: 5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: white;
}
.menu__card__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.menu__card__titre {
  padding: 0 0 0.5rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card__prix {
  align-self: end;
  padding: 2.1rem 1rem;
  height: 50%;
}
.menu__card__texte {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__categorie::after {
  content: "";
  display: block;
  background: #99e2d0;
  height: 0.2rem;
  width: 2.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    visibility: visible;
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide {
  from {
    transform: translateX(100%);
    visibility: visible;
  }
  to {
    transform: translateX(0, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
