//

.card {
  @include d-flex-column;
  position: relative;
  height: 17rem;
  width: 100%;
  background-color: $white;
  color: $black;
  border-radius: 25px;
  overflow: hidden;

  &__lien {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -25%;
    border-radius: 25px 25px 0 0;
  }

  &__titre {
    position: absolute;
    bottom: 1.2rem;
    color: $black;

    &--menu {
      padding: 1rem 1rem 0.5rem 1rem;
    }
  }
  &__texte {
    position: absolute;
    bottom: 0;
    padding: 0 1rem 0.8rem 1rem;
  }
}
