.instructions__carte {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 90%;
  height: 5rem;
  box-shadow: 0px 4px 15px rgba($black, 0.15);
  border-radius: 20px;
  background-color: $earthborn-bugle;
  padding-left: 3rem;
  gap: 1rem;

  .etape {
    display: flex;
    @include center;
    position: absolute;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    z-index: 2;
    background-color: $lavender-indigo;
    color: $white;
  }
}

.coeur {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  &--menu {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
  }
}

.nouveau {
  display: flex;
  position: absolute;
  @include center;
  background-color: $morning-glory;
  border-radius: 2px;
  z-index: 2;
  width: 5rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  box-shadow: 0px 2px 4px rgba($black, 0.15);
}

i {
  font-size: 20px;
  &.gris {
    color: $grey;
  }
  &.violet {
    color: $lavender-indigo;
  }
  &.fa-map-marker-alt {
    font-size: 16px;
  }
  &.fa-arrow-left {
    color: $black;
    font-size: large;
    position: absolute;
    left: 2rem;
    top: 1.5rem;
  }
}
