* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100svh;
  width: 100svw;
  scroll-behavior: smooth;
  -webkit-scrollbar: 0px;
}

header {
  display: flex;
  position: sticky;
  z-index: 3;
  top: 0;
  height: 4rem;
  width: 100%;
  @include center;
  background-color: $white;
  box-shadow: 0px 2px 4px rgba($black, 0.15);
  .header__logo {
    max-height: 50%;
  }
}
body {
  position: relative;
  overflow-x: hidden;
  & .main-container {
    width: 100%;
    @include devices(desktop) {
      @include center;
    }
  }
}

main {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
figure {
  width: 100%;
}
footer {
  width: 100%;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  gap: 2rem;
  background-color: $mine-shaft;
  color: $white;
  & .footer__lien {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  a {
    color: inherit;
  }
  .logoreverse {
    padding-bottom: 1rem;
    filter: invert(100%);
    width: 8rem;
  }
  @include devices(tablet) {
    display: flex;
    max-height: 10%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    & .footer__lien {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
    }
    & .logoreverse {
      padding: 0;
    }
  }
  @include devices(desktop) {
    display: flex;
    max-height: 10%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    & .footer__lien {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;
    }

    & .logoreverse {
      padding: 0;
    }
  }
}
