h1 {
  font-family: $font-family-sans-serif;
  font-weight: $titre;
  font-size: 24px;
  line-height: 28px;
}
.menu {
  & h1 {
    text-transform: uppercase;
    font-weight: $text;
    font-size: 16px;
    padding: 1rem;
  }
}
.explorer h1 {
  @include devices(tablet) {
    font-size: 28px;
  }
  @include devices(desktop) {
    font-size: 40px;
  }
}
h2 {
  font-family: $font-family-sans-serif;
  font-weight: $textimportant;
  font-size: 18px;
  line-height: 21px;
  padding: 1rem;
  &.card__titre {
    position: absolute;
    bottom: 1.2rem;
  }
}
span {
  font-family: $font-family-sans-serif;
  &.menu__card__titre {
    font-weight: $textimportant;
    font-size: 18px;
    line-height: 21px;
  }
  &.menu__card__description {
    font-weight: $text;
    font-size: 15px;
  }
  &.menu__card__prix {
    font-weight: $textimportant;
    font-size: 15px;
  }
}
h3 {
  font-family: 'Shrikhand';
  font-weight: $textimportant;
  font-size: 1.6rem;
}
p {
  font-family: $font-family-sans-serif, sans-serif;
  font-weight: $text;
  font-size: 18px;

  &.localisation__texte {
    font-weight: $textimportant;
    font-size: 16px;
  }
  &.card__texte {
    font-weight: $text;
  }
}
.btn {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
a {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  i {
    font-size: 11px;
    padding-right: 0.8rem;
  }
}
.etape {
  font-family: $font-family-sans-serif;
  font-weight: $textimportant;
}
.nouveau {
  font-family: $font-family-sans-serif;
  font-weight: $textimportant;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $deep-sea;
}
