h1 {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  &.menu__categorie {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    padding: 1rem;
  }
}
h2 {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 1rem;
  &.card__titre {
    position: absolute;
    bottom: 1.2rem;
  }
  &.menu__card__titre {
    padding: 1rem 1rem 0.5rem 1rem;
  }
}
h3 {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
}
p {
  font-family: $font-family-sans-serif, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  &.localisation__texte {
    font-weight: 500;
    font-size: 16px;
  }
  &.card__texte {
    position: absolute;
    bottom: 0;
    font-weight: 300;
    padding: 0 1rem 0.8rem 1rem;
  }
  &.menu__card__texte {
    font-size: 15px;
    padding: 0 0 1rem 1rem;
  }
  &.menu__card__prix {
    font-weight: 700;
    font-size: 15px;
  }
}
.btn {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
a {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  i {
    font-size: 11px;
    padding-right: 0.8rem;
  }
}
.etape {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 400;
}
.nouveau {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $deep-sea;
}
