//

.menu {
  @include d-flex-column;
  overflow: hidden;
  &__entrees &__card {
    @include animated_card();
  }
  &__plats &__card {
    @include animated_card($delay_category);
  }
  &__desserts &__card {
    @include animated_card($delay_category * 2);
  }
  @include devices(tablet) {
    align-items: center;
  }
  @include devices(desktop) {
    align-items: center;
  }

  &__image {
    height: 20rem;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
  &__texte {
    @include d-flex-column;
    align-items: center;
    position: relative;
    background-color: $earthborn-bugle;
    border-radius: 25px 25px 0 0;
    padding-bottom: 2rem;
    margin-top: -2rem;
    gap: 2rem;
    @include devices(tablet) {
      justify-content: center;
      max-width: 80%;
    }
    @include devices(desktop) {
      width: 80%;
      max-width: 1000px;
      justify-content: center;
    }
  }
  &__titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 1rem 0 1rem;
    @include devices(tablet) {
      justify-content: center;
      gap: 1rem;
    }
    @include devices(desktop) {
      justify-content: center;
      gap: 1rem;
    }
  }

  &__entrees,
  &__plats,
  &__desserts {
    @include d-flex-column;
    width: 100%;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 5rem;
    box-shadow: 0px 4px 15px rgba($black, 0.15);
    border-radius: 20px;
    background-color: $white;

    &__container {
      flex: 1;
      @include d-flex-column;
      justify-content: space-between;
      overflow: hidden;
    }

    &__titre {
      padding: 0 0 0.5rem 0;
      @include ellipsis;
    }

    &__description {
      @include ellipsis;
    }

    &__prix {
      align-self: end;
      padding: 2.1rem 1rem;
      height: 50%;
    }

    &__texte {
      display: flex;
      flex-direction: column;
      justify-content: inherit;
      width: 100%;
      padding: 1rem;
      @include ellipsis;
    }
  }
  & h1::after {
    content: '';
    display: block;
    background: $morning-glory;
    height: 0.2rem;
    width: 2.5rem;
  }
}
