// Menu

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    visibility: visible;
  }

  to {
    transform: translateY(0);
  }
}

// Cards

// @keyframes slide {
//   from {
//     transform: translateX(100%);
//     visibility: visible;
//   }

//   to {
//     transform: translateX(0, 0, 0);
//   }
// }
