//

$white: white;
$earthborn-bugle: #f7f7f7;
$lavender-indigo: #9356dc;
$morning-glory: #99e2d0;

$black: black;

//

$font-family-sans-serif: Roboto, 'Helvetica Neue', 'Noto Sans',
  'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
