//

$white: white;
$earthborn-bugle: #f7f7f7;
$lavender-indigo: #9356dc;
$morning-glory: #99e2d0;
$black: black;
$gallery: #eaeaea;
$deep-sea: #008766;
$mine-shaft: #353535;
$blush-pink: #ff79da;
$grey: grey;

//

$font-family-sans-serif: Roboto, 'Helvetica Neue', 'Noto Sans',
  'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
